
html {
	box-sizing: border-box;
  line-height: 1.15;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
  margin: 0;
}
img{
	max-width: 100%;
}
p{
  margin-bottom: 30px;
}
section{
  clear: both;
  overflow: auto;
  padding: 60px 0;
  position: relative;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.col-6{
  width: 50%;
  float: left;
}

.pull-right{
  float: right !important;
}

.bg-grey{
  background:#999999;
}
.text-center{
  text-align:center;
}


.btn{
	background: #fff;
  color:#000;
	padding: 12px 30px;
	border: 0;
	text-decoration: none;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
}
nav {
	background: #333;
}
nav ul{
  list-style: none;
	padding: 0;
  margin: 0;
  overflow: hidden; 
}
nav li{
  float: left;
}
nav li a{
  display: block;
  padding: 8px;
  text-decoration:none;
  color: #fff;
}

.max-w-400{
  max-width: 400px;
  margin: auto;
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
  .v-align{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

}
.nav-btn{
    display: none;
    width: 30px;
  }
@media (max-width: 1024px) {
  .col-6{
    width:100%;
    text-align:center;
  }
}
@media (max-width: 480px){
  h2 {
    font-size: 18px;
  }
  section{
    padding: 30px 0;
  }
  #menu{
    display: none;
  }
  nav li{
    float: none;
  }
  .nav-btn{
    display: block;
  }
}
@media (min-width:768px) and (max-width: 1024px){
  .col-md-6{
    width:50%;
    float: left;
  }
  .col-md-6 img {
    margin:20px 0;
  }
  .col-md-6 h3{
        margin-top: 50px;
  }
  .text-left{
    text-align:left;
  }

}
